@inject IStringLocalizer<QuickLinks> Resources

<div class="not-prose my-12 grid grid-cols-1 gap-6 sm:grid-cols-2">
    <div class="group relative rounded-xl border border-slate-200 dark:border-slate-800">
        <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.indigo.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 dark:[--quick-links-hover-bg:theme(colors.slate.800)]"></div>
        <div class="relative overflow-hidden rounded-xl p-6">
            <h2 class="font-display text-base text-slate-900 dark:text-white">
                <a href="/docs/components/packages">
                    <span class="absolute -inset-px rounded-xl"></span>
                    @Resources["Components_Heading"]
                </a>
            </h2>
            <p class="mt-1 text-sm text-slate-700 dark:text-slate-400">
                @Resources["Components_Description"]
            </p>
        </div>
    </div>
    <div class="group relative rounded-xl border border-slate-200 dark:border-slate-800">
        <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.indigo.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 dark:[--quick-links-hover-bg:theme(colors.slate.800)]"></div>
        <div class="relative overflow-hidden rounded-xl p-6">
            <h2 class="font-display text-base text-slate-900 dark:text-white">
                <a href="/docs/components/fragments">
                    <span class="absolute -inset-px rounded-xl"></span>
                    @Resources["Fragments_Heading"]
                </a>
            </h2>
            <p class="mt-1 text-sm text-slate-700 dark:text-slate-400">
                @Resources["Fragments_Description"]
            </p>
        </div>
    </div>
    <div class="group relative rounded-xl border border-slate-200 dark:border-slate-800">
        <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.indigo.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 dark:[--quick-links-hover-bg:theme(colors.slate.800)]"></div>
        <div class="relative overflow-hidden rounded-xl p-6">
            <h2 class="font-display text-base text-slate-900 dark:text-white">
                <a href="/docs/components/headlessUI">
                    <span class="absolute -inset-px rounded-xl"></span>
                    HeadlessUI
                </a>
            </h2>
            <p class="mt-1 text-sm text-slate-700 dark:text-slate-400">
                @Resources["HeadlessUI_Description"]
            </p>
        </div>
    </div>
</div>
