@using LoxSmoke.DocXml
@inherits IgnisComponentBase
@inject IStringLocalizer<ApiDocumentation> Resources

<h3>
    @Type.Name
</h3>

<h4>
    @Resources["DefinitionHeading"]
</h4>
<dl class="flex gap-x-2">
    <dt>
        @Resources["NamespaceLabel"]:
    </dt>
    <dd>
        @Type.Namespace
    </dd>
</dl>

@if (_typeComments != null)
{
    <p>
        @_typeComments.Summary
    </p>
}

@if (Type.GenericTypeArguments.Any())
{
    <h5>
        @Resources["TypeParametersHeading"]
    </h5>
    
    @foreach (var typeParam in Type.GenericTypeArguments)
    {
        
    }
}

@code
{
    private TypeComments? _typeComments;

    [Parameter, EditorRequired]
    public Type Type { get; set; } = null!;

    protected override void OnInitialized()
    {
        var reader = new DocXmlReader(new[] { Type.Assembly });

        _typeComments = reader.GetTypeComments(Type);
    }
}