@using Ignis.Components
@using Ignis.Components.HeroIcons.Outline
@using Ignis.Components.HeadlessUI
@using Ignis.Utils

@inherits IgnisComponentBase

<div class="absolute top-16 w-72">
    <Listbox @bind-Value="_selectedPerson">
        <div class="relative mt-1">
            <ListboxButton class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm">
                <span class="block truncate">
                    @_selectedPerson.Name
                </span>
                <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                    <ChevronUpDownIcon class="h-5 w-5 text-gray-400"/>
                </span>
            </ListboxButton>
            <Transition AsComponent="typeof(Fragment)"
                        Leave="transition ease-in duration-100"
                        LeaveFrom="opacity-100"
                        LeaveTo="opacity-0"
                        Context="transition">
                <ListboxOptions class="@Css.Class("absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm sm:leading-[1.25rem]", transition)">
                    @foreach (var person in _people)
                    {
                        <ListboxOption @key="person.Name"
                                       AsComponent="typeof(Fragment)"
                                       Value="person"
                                       Context="option">
                            <li @ref="option.Element"
                                @attributes="option.Attributes"
                                class="@Css.Class("relative cursor-default select-none py-2 pl-10 pr-4", option.IsActive ? "bg-amber-100 text-amber-900" : "text-gray-900")">
                                <span class="@Css.Class("block truncate", option.IsSelected ? "font-medium" : "font-normal")">
                                    @person.Name
                                </span>
                                @if (option.IsSelected)
                                {
                                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600">
                                        <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                                    </span>
                                }
                            </li>
                        </ListboxOption>
                    }
                </ListboxOptions>
            </Transition>
        </div>
    </Listbox>
</div>

@code
{
    private readonly Person[] _people =
    {
        new() { Name = "Wade Cooper" },
        new() { Name = "Arlene Mccoy" },
        new() { Name = "Devon Webb" },
        new() { Name = "Tom Cook" },
        new() { Name = "Tanya Fox" },
        new() { Name = "Hellen Schmidt" }
    };

    private Person _selectedPerson = null!;

    protected override void OnInitialized()
    {
        _selectedPerson = _people[0];
    }

    private class Person
    {
        public string Name { get; set; } = null!;
    }
}